<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/My_Database</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <!-- DB User -->
        <property name="hibernate.connection.username">postgres</property>
        <!-- DB Password -->
        <property name="hibernate.connection.password">winhung216</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property> <!-- DB Dialect -->
        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->

        <mapping resource="ClassEntity.hbm.xml"/>
        <mapping resource="CourseRegisSessionEntity.hbm.xml"/>
        <mapping resource="GiaovuAccountEntity.hbm.xml"/>
        <mapping resource="SemesterEntity.hbm.xml"/>
        <mapping resource="StudentEntity.hbm.xml"/>
        <mapping resource="SubjectEntity.hbm.xml"/>

    </session-factory>
</hibernate-configuration>